.table {
  width: 100%;

  &__select .select__label {
    margin: 0;
  }
  table {
    width: 100%;
    & thead {
      & th {
        padding: 15px 0;
      }
    }
    & tbody {
      & td {
        max-width: 100px;
        width: 11%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        white-space: nowrap;
      }
      & tr {
        &:nth-child(2n + 1) {
          background-color: rgb(255, 255, 255);
        }
        &:hover {
          background-color: rgb(228, 228, 228);
        }
      }
    }
  }
  & .navigation {
    padding: 10px 0;
    max-width: 60%;
    &__btn {
      font-size: 18px;
      background-color: rgb(199, 199, 199);
      border: none;
      border-radius: 5px;
      width: fit-content;
      padding: 10px 30px;

      &:hover {
        background-color: darken(rgb(199, 199, 199), 10%);
        cursor: pointer;
      }
    }
    &__page {
      background-color: rgba(255, 255, 255, 0);
      &:hover {
        background-color: rgba(255, 255, 255, 0);
      }
    }
  }
  &__search {
    display: flex;
    align-items: center;
  }
}
